<div class="feed-message feed-message_{{type}}">
    <div class="feed-message__who">
        {{who}}
    </div>
    <div>{{message}}</div>
    <div class="feed-message__time">
        {{sentTime}}
    </div>
</div>
