<div class="feed-message feed-message_{{type}}">
    <div class="feed-message__who">
        {{userName}}
    </div>
    <div>{{content}}</div>
    <div class="feed-message__time">
        {{time}}
    </div>
</div>
