<div class="message-field">
    {{{
        InputBase name=name
            ref="input"    
            type="text"
            placeholder="Сообщение"
            onBlur=onBlur
            className="message-field__input" 
    }}}
    <span class="message-field__error">{{errorMessage}}</span>
</div>
