@import '../../styles/variables.scss';

.chats-list {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px $color-scrollshadow;
        background-color: $color-dirtywhite;
    }

    &::-webkit-scrollbar {
        width: 2px;
        background-color: $color-dirtywhite;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-baseblack;
        border: 2px solid $color-darkgrey;
    }
}
