@import '../../../../styles/variables.scss';

.search-field {
    border: none;
    outline: none;
    background-color: $color-softgrey;
    border-radius: 5px;
    height: 32px;
    font-weight: 600;
    color: $color-grey;
    box-sizing: border-box;
    width: 100%;
    background-image: url('../../../../assets/icons/searchIcon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 30px;
}
