{{#> Form formStyles="profile__container" }}
    <div class="profile__avatar">
        {{> Avatar }}
    </div>
    <div class="profile__part">
        {{> InlineTextEditable label="Почта" isEdit=true name="email" type="email" value="iiivanov@yandex.ru" }}
        {{> InlineTextEditable label="Логин" isEdit=true name="login" type="text" value="iiivanov" }}
        {{> InlineTextEditable label="Имя" isEdit=true name="first_name" type="text" value="Иван" }}
        {{> InlineTextEditable label="Отчество" isEdit=true name="midle_name" type="text" value="Иванович" }}
        {{> InlineTextEditable label="Фамилия" isEdit=true name="second_name" type="text" value="Иванов" }}
        {{> InlineTextEditable label="Никнейм" isEdit=true name="display_name" type="text" value="Иван" }}
        {{> InlineTextEditable label="Телефон" isEdit=true name="phone" type="phone" value="8-800-535-35-35" }}
    </div>
    <div class="profile__part profile__buttons-standart-container">
        {{> Button text="Сохранить" type="prymary" goToPage="profile" class="profile__buttons-standart-container_btn-sized" }}
    </div>
{{/Form}}
