<div class="feed-header">
    <div class="feed-header__image"
        {{#if chat.avatar}}
            style="background-image: url({{resourcesUrl}}{{chat.avatar}}); background-size: cover;"
        {{/if}}
    ></div>
    <span class="feed-header__title">{{chat.title}}</span>
    {{{ChatMenu}}}
</div>
