@import '../../styles/variables.scss';

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    &__container {
        width: 510px;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }

    &__part {
        .inline-button:last-child, .itxt-editable:last-child {
            border-bottom: none;
        }
    }

    &__buttons-standart-container {
        display: flex;
        align-items: center;
        justify-content: center;

        &_btn-sized {
            width: 280px;
        }
    }
}
