<div class="form-container">
    {{#> Form formStyles="form-content" }}
        {{> Title text="Вход" }}
        <div class="form-content__form-block form-content__fields">
            {{> TextField label="Логин" type="text" placeholder="Логин" name="login" }}
            {{> TextField label="Пароль" type="password" placeholder="Пароль" name="password" }}
        </div>
        <div class="form-content__form-block form-content__actions">
            {{> Button text="Войти" type="prymary" goToPage="chats" }}
            {{> Button text="Зарегистрироваться" type="secondary"  goToPage="registration" }}
        </div>
    {{/Form}}
</div>