<div class="fullscreen-page">
    <div class="profile-navigation" goToPage="profile">
        {{{ GoBackButton goToPage="profile" }}}
    </div>
    <div class="profile">
        {{{ ChangeProfileDataForm }}}
    </div>
</div>
