$color-white: #FFFFFF;
$color-dirtywhite:#F5F5F5;
$color-grey: #999;
$color-darkgrey: #555555;
$color-lightgrey: #EAEAEA;
$color-softgrey: #EFEFEF;
$color-whitegrey: #FBFBFB;
$color-blue: #3369F3;
$color-lightblue: #E4EDFD;
$color-baseblack: #1E1E1E;
$color-red: #ff0000;
$color-error: #FF2F2F;
$color-overlay: #00000080;
$color-beige: #F8F8F8;
$color-shadow: #00000024;
$color-scrollshadow: #0000004d;
$color-messageshadow: #00000014;
