<div class="feed-footer">
    <div class="feed-footer__attach-btn"></div>
    {{{ Message ref="message" name="message" validate=validate.message }}}
    {{{ GoForwardButton onClick=sendMessage }}}
</div>
