<div class="fullscreen-page">
    <div class="profile-navigation"  goToPage="chats">
        {{> GoBackButton goToPage="chats" }}
    </div>
    <div class="profile">
        <div class="profile__container">
            <div class="profile__avatar">
                {{> Avatar }}
                {{> Title text="Иван" type="bold" }}
            </div>
            <div class="profile__part">
                {{> InlineTextEditable label="Почта" isEdit=false name="email" type="email" value="iiivanov@yandex.ru" }}
                {{> InlineTextEditable label="Логин" isEdit=false name="login" type="text" value="iiivanov" }}
                {{> InlineTextEditable label="Имя" isEdit=false name="firstname" type="text" value="Иван" }}
                {{> InlineTextEditable label="Отчество" isEdit=false name="midlename" type="text" value="Иванович" }}
                {{> InlineTextEditable label="Фамилия" isEdit=false name="lastname" type="text" value="Иванов" }}
                {{> InlineTextEditable label="Никнейм" isEdit=false name="nikname" type="text" value="Иван" }}
                {{> InlineTextEditable label="Телефон" isEdit=false name="phone" type="phone" value="8-800-535-35-35" }}
            </div>
            <div class="profile__part">
                {{> InlineButton text="Изменить данные" type="secondary" goToPage="chngeprofiledata" }}
                {{> InlineButton text="Изменить пароль" type="secondary" goToPage="chngeprofilepassword" }}
                {{> InlineButton text="Выйти" type="important" goToPage="login" }}
            </div>
        </div>
    </div>
</div>