<div class="dialog-wrapper">
    {{#if show}}
        <div class="dialog">
            {{{ Underlay onUnderlayClick=onUnderlayClick }}}
            {{{ AddUserForm className="dialog__form" }}}
        </div>
    {{/if}}
</div>>
