@import '../../styles/variables.scss';

.chats-page {
    &__chats {
        background-color: $color-whitegrey;
        min-width: 312px;    
        max-width: 312px;    
        display: flex;
        flex-direction: column;
        border-right: 1px solid $color-lightgrey;
        box-sizing: border-box;
    }

    &__chats-header {
        height: 80px;
        padding: 21px 0 14px;
        border-bottom: 1px solid $color-lightgrey;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__to-profile-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__chats-list {
        margin: 0 10px;
        display: flex;
        flex-direction: column;

        max-height: 100%;
        overflow: auto;

        &::-webkit-scrollbar-track {
        	-webkit-box-shadow: inset 0 0 6px $color-scrollshadow;
        	background-color: $color-dirtywhite;
        }

        &::-webkit-scrollbar {
            width: 2px;
        	background-color: $color-dirtywhite;
        }

        &::-webkit-scrollbar-thumb {
        	background-color: $color-baseblack;
        	border: 2px solid $color-darkgrey;
        }
    }

    &__feed {
        box-sizing: border-box;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: $color-white;
    }
}
