@import '../../styles/variables';

.chats-page {
    &__chats {
        background-color: $color-whitegrey;
        min-width: 312px;    
        max-width: 312px;    
        display: flex;
        flex-direction: column;
        border-right: 1px solid $color-lightgrey;
        box-sizing: border-box;
    }

    &__chats-header {
        height: 80px;
        padding: 21px 0 14px;
        border-bottom: 1px solid $color-lightgrey;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__to-profile-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
