<div class="fullscreen-page chats-page">
    <div class="chats-page__chats">
        <div class="chats-page__chats-header">
            <div class="chats-page__to-profile-container">
                {{> GoToButton text="Профиль" goToPage="profile" }}
            </div>
            {{> SearchField }}
        </div>
        <div class="chats-page__chats-list">
            <div>Данный раздел находится в разработке</div>
        </div>
    </div>
    <div class="chats-page__feed">
        <div>Данный раздел находится в разработке</div>
        <div>
            {{> Button text="Посмотреть страницу ошибки 404" type="secondary" goToPage="notFoundError" }}
            {{> Button text="Посмотреть страницу ошибки 500" type="secondary" goToPage="internalServerError" }}
        </div>
    </div>
</div>