<div class="form-container">
    {{#> Form }}
        {{> Title text="Вход" }}
        <div class="form-content__form-block form-content__fields">
            {{> TextField label="Логин" type="text" placeholder="Логин" }}
            {{> TextField label="Пароль" type="password" placeholder="Пароль" }}
        </div>
        <div class="form-content__form-block form-content__actions">
            {{> Button text="Авторизоваться" type="prymary" goToPage="chats" }}
            {{> Button text="Регистрация" type="secondary"  goToPage="registration" }}
        </div>
    {{/Form}}
</div>