{{!-- атрибут goToPage- хак для навигации по кликабельному макету, в будущем будет удален и дублирование пропадет --}}
<button class="go-to-button" goToPage="{{goToPage}}">
    <span class="go-to-button__text" goToPage="{{goToPage}}">
        {{text}}
        <div class="go-to-button__arrow" goToPage="{{goToPage}}"></div>
    </span>
</button>