<div class="dialog-wrapper">
    {{#if message}}
        <div class="dialog">
            {{{ Underlay onUnderlayClick=onUnderlayClick underlayType="transparent" }}}
            <div class="float-message">{{message}}</div>
        </div>
    {{/if}}
</div>>
