{{#> Form formStyles="profile__container" }}
    <div class="profile__avatar">
        {{> Avatar }}
    </div>
    <div class="profile__part">
        {{> InlineTextEditable label="Старый пароль" isEdit=true name="oldPassword" type="password" }}
        {{> InlineTextEditable label="Новый пароль" isEdit=true name="newPassword" type="password" }}
        {{> InlineTextEditable label="Повторите новый пароль" isEdit=true name="repeateNewPassword" type="password" }}
    </div>
    <div class="profile__part profile__buttons-standart-container">
        {{> Button text="Сохранить" type="prymary" goToPage="profile" class="profile__buttons-standart-container_btn-sized" }}
    </div>
{{/Form}}
