@import '../../../../styles/variables';

.text-field {
    height: 36px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        height: 16px;
    }

    &__label {
        transform: translateY(-21px);
        color: $color-grey;
        font-size: 14px;
        font-weight: 500;
        user-select: none;
        transition:
        font-size 0.5s,
        transform 0.5s;
        
    }

    &__input {
        border: none;
        border-bottom: 1px solid $color-blue;
        outline: none;
        font-weight: 600;
        color: $color-baseblack;
        height: 28px;
    }

    &__input:not(:placeholder-shown) + &__label,
    &__input:focus + &__label {
        transform: translateY(-32px);
        font-size: 10px;
    }
}
