@import '../../../../styles/variables.scss';

.text-field {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__label {
        font-size: 9px;
        color: $color-grey;
    }

    &__input {
        border: none;
        border-bottom: 1px solid $color-blue;
        outline: none;
        font-weight: 600;
        color: $color-baseblack;

        &::placeholder {
            color: $color-grey;
            font-weight: 400;
            color: $color-grey;
        }
    }
}
