<div class="text-field">
    <label class="text-field__wrapper" for{{name}}>
        {{{InputBase name=name
            ref="input"    
            type=type
            onBlur=onBlur
            className="text-field__input" 
        }}}
        <div class="text-field__label">{{label}}</div>
    </label>
    {{{ ValidationMessage ref="validationMessage" }}}
</div>
