@import '../../../styles/variables.scss';

.form-container {
    border-radius: 12px;
    background: $color-white;
    box-shadow: 0px 0px 6px 0px $color-shadow;
    padding: 32px;
    width: 340px;
    box-sizing: border-box;
    min-height: 450px;
    display: grid;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    height: 100%;

    &__form-block {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__fields {
        gap: 24px;
    }

    &__actions {
        gap: 8px;
        margin-top: auto;
    }
}