$color-lightgray: #999;
$color-blue: #3369F3;
$color-white: #FFFFFF;


.inline-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #EAEAEA;

    &__button {
        justify-content: start;
        padding: 10px 0px;
        min-height: 0px;
    }
}