<div class="widget-page">
    <div class="error-container">
        {{{ Info text=errorCode }}}
        {{{ Title text=errorText }}}
        {{{ Button text=goBackText className="error-container__button" type="secondary" onClick=onGoBack }}}
    </div>
</div>
