<div class="widget-page">
    <div class="error-container">
        {{{ Info text=errorCode }}}
        {{{ Title text=errorText }}}
        {{{ Button text=goBackText goToPage=goBackPage class="error-container__button" type="secondary" }}}
    </div>
</div>
