.error-container {
    max-width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
    text-align: center;

    &__button {
        margin-top: auto;
    }
}
